html,body {width:100vw;min-width: 100vw;}
body{overflow-y: auto;}
.pw-container {
    flex-direction: column;
    width: 100%;
    min-width: 100%;
}
.pw-container>.pw-bio {
    min-width: 100%;
    height: auto;
    padding: 25px 20px 25px;
    font-size: 0.8em;
}
.pw-portolist .pw-portoitems {
    display: block;
    grid-gap: 10px;
    writing-mode: horizontal-tb;
}
.pw-portolist {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 20px;
}
.pw-myphoto {
    max-width: 200px;
    max-height: 200px;
}
.pw-myphoto .pw-frames .pw-frame-c, .pw-popwindow .pw-frames .pw-frame-c {
    left: 16px;
    top: 16px;
    right: 16px;
    bottom: 16px;
}
.pw-myphoto .pw-frames ::before, .pw-myphoto .pw-frames ::after {
    border-width: 16px;
}
.pw-container>.pw-portowall {
    padding: 20px;
}
.pw-portotitle>.pw-hashes {
    width: 100%;
}
.pw-portolist .pw-portoitems .pw-img {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
}
.pw-portoblock > h2 {
    top:0;
    padding: 10px 0;
}
.pw-portolist .pw-portoitems .pw-img.pw-ornament {
    display: none;
}
.pw-portoblock > h2::before {
    content: '';
    background: #eee;
    height: calc(100% - 10px);
    display: block;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 9px;
    left: -100%;
    width: 90%;
    border-radius: 0 30px 30px 0;
    border: 1px solid #666;
    border-top-color: #fff;
    border-right-color: #ccc;
    background-blend-mode: multiply;
}
.pw-portoblock > h2.is-sticky::before {
    left: -21px;
    transition:all linear 0.1s;
}
.pw-portoblock > h2 {transition:all linear 0.1s;}
.pw-portoblock > h2.is-sticky {
    padding: 10px 25px;
    color: #666;
}

.pw-portolist .pw-portoitems .pw-img>img {
    max-width: 100%;
}

.pw-portoblock {
    margin-top: 30px;
}
.pw-popinner>.pw-frames {
    position: fixed !important;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 2;
}

.pw-popinner {
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 30px;
    overflow-y: auto;
}

.pw-popinner>.pw-popimages {
    float: none;
    width: 100%;
    height: 50%;
}

.pw-popinner>.pw-popinfo {
    float: none;
    width: 100%;
    padding: 10px 2px;
}
.owl-carousel .owl-stage-outer, .owl-carousel .owl-stage {
    height: 100%;
}
.owl-carousel.owl-drag .owl-item {
    height: 100%;
}
.pw-popinner>.pw-popinfo, .pw-popinner>.pw-popinfo * {
    font-size: 0.9em;
}

.pw-popinner>.pw-popinfo h3 {
    font-size: 1.2em;
}
.pw-popwindow .pw-frames ::before, .pw-popwindow .pw-frames ::after {
    border-width: 15px;
}
a.pw-popwindow-close {
    z-index: 9;
    top: 3px;
    right: 10px;
    position: fixed;
}